name: Frontend CD

on:
  push:
    branches: [production]

jobs:
  detect-changes:
    name: Detect Frontend Changes
    uses: ./.github/workflows/detect-changes.yml

  docker-build-push:
    name: Build & Push Frontend Image
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.has_changes == 'true' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker Image
        run: |
          IMAGE_NAME="thuan410/frontend"

          # build & push latest
          docker build -t $IMAGE_NAME:latest .
          docker push $IMAGE_NAME:latest

          # build & push theo commit SHA
          docker build -t $IMAGE_NAME:${{ github.sha }} .
          docker push $IMAGE_NAME:${{ github.sha }}