name: CI Frontend (Node.js/JS)

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  detect:
    uses: ./.github/workflows/detect-changes.yml

build:
    needs: detect
    if: ${{ needs.detect.outputs.has_changes == 'true' }}
    uses: ./.github/workflows/build-service.yml