name: CI Node.js/JS Project

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  detect:
    uses: ./.github/workflows/detect-changes.yml

  build-and-test:
    needs: detect
    if: ${{ needs.detect.outputs.has_changes == 'true' }}
    uses: ./.github/workflows/build-service.yml
    # Nếu muốn truyền input (ví dụ node_versions):
    # with:
    #   node_versions: '["20.x", "22.x"]'