name: CI Node.js/JS Project

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  detect:
    uses: ./.github/workflows/detect-changes.yml

  build-and-test:
    needs: detect
    if: ${{ needs.detect.outputs.has_changes == 'true' }}
    uses: ./.github/workflows/build-service.yml
  
  sonarqube:
    needs: [detect, build-and-test]
    if: ${{ needs.detect.outputs.has_changes == 'true' }}
    uses: ./.github/workflows/sonarqube.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  trivy:
    needs: [detect, build-and-test, sonarqube]
    if: ${{ needs.detect.outputs.has_changes == 'true' }}
    uses: ./.github/workflows/trivy.yml